@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo a {
  text-decoration: none;
  color: #6070ff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

button {
  border: none;
  background-color: #fff;
}

section {
  padding: 100px 200px;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/background.png) no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.main .main-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
  margin-top: 12px;
}

.main ul li {
  list-style-type: none;
}

.social-icons {
  display: flex;
  margin-top: 12px;
}

.social-icons a {
  color: #344563;
  padding-left: 12px;
}

@media (max-width: 641px) {
  header {
    padding: 48px 24px;
    position: absolute;
  }

  section {
    padding: 80px 20px;
  }
}
